.form-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;

  .form {
    padding: 15px;
    display: flex;
    flex-direction: column;

    .inputs-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 25px;

      input {
        font-size: 18px;
        padding: 10px;
        width: 500px;
        margin: 5px;
        border: none;
        border-bottom: 2px solid;

        &:focus {
          border-bottom: 2px solid;
          text-decoration: none;
          outline: none;
        }
      }
    }
    .dropzone-wrapper {
      width: 300px;
      padding: 5px;
      margin: 15px;
    }

    .btn {
      width: 75px;
      height: 50px;
      background-color: whitesmoke;
      border: 2px black solid;
      transition: 0.5s ease-in-out;
      font-size: 14px;

      &:hover {
        box-shadow: 5px 5px 5px #03191e;
      }
    }
  }
}
