.nav-wrapper {
  display: flex;
  justify-content: space-between;
  height: 150px;
  margin: 0px;
  box-shadow: inset 0px 1px 59px 1px rgba(0, 0, 0, 0.25);

  .logo {
    display: flex;
    justify-content: center;
    background-image: "/assets/logo/your_car_needs_a_donut.jpg";
    background-repeat: no-repeat;

    img {
      height: 150px;
      width: auto;
    }
  }

  .cart {
    display: flex;
    align-items: center;
    width: 100px;
    padding-right: 25px;

    .btn {
      width: 100px;
      height: 100px;
    }
  }

  .links {
    display: flex;
    align-items: center;

    a {
      font-size: 24px;
      text-decoration: none;
      letter-spacing: 2px;
      word-spacing: 2px;
      font-weight: normal;
      margin: 45px;
    }
  }
}
